*{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

body{
  margin: auto;
  width: 900px;
  background-color: #00aca9;
  
}

#menu{
    display: flex;
}

.menu{
    width: 900px;
    height: 52px;

    margin: 10px;
}


.menu ul{
    width: 760px;
    height: 52px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#59d4d2;
    border-radius: 5px;
    display: flex   ;
    justify-content: space-evenly;
    font-size: 20px;
}


.menu ul li{
float:left;

}

.menu ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 13px 16px;
    margin: 2px 0  0;
    text-decoration: none;
    
   
}

.menu ul li a:hover{
    background-color: #00aca9;
    color: rgb(4, 5, 5);
    transition: .35s;
    border-radius: 5px;
    cursor: pointer;
    
}

.logomarca{
    width: 150px;
    height: 52px; 
    background-color: #00aca9;
    margin:10px 10px 0 0;

}
.logomarca img{
    width: 120px;
    height: 53px;
}

#banner{
    width: 900px;
    height: 900px;
    background-color: #00aca9;
}

#banner img{
    width: 900px;
    height: 600px;
    border-radius: 5px;
}



#container-top{

    width: 900px;
    height: 500px;
    background-color:#00aca9;
}

#container-dois{
    width: 900px;
    height: 500px;
    margin: 192px 0 0 0;
    background-color: #00aca9;
}

#container-dois img{
    width: 900px;
    height: 600px;
    border-radius: 5px;
}

#container-tres{
    width: 900px;
    height: 600px;
    background-color: #f80303;
    margin: 120px 0 0 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


